@page "/"


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="mb-3">
     <a href="/viewpackages" class="btn btn-primary shadow-none ms-3">
        View Packages
     </a>
</div>
<br/>
<div class="mb-3">
    <a href="/addpackage" class="btn btn-primary shadow-none ms-3">
        Add Package
    </a>
</div>
<br />
<div class="mb-3">
    <a href="/addaddress" class="btn btn-primary shadow-none ms-3">
        Add Address
    </a>
</div>
<br />
