@page "/"


<PageTitle>Home</PageTitle>
<center>
<h1>Welcome to HJ shipping service system!</h1>
<h2> What would you like to do?</h2>
<div class="mb-3">
     <a href="/viewpackages" class="btn btn-primary shadow-none ms-3">
        View Packages
     </a>
</div>
<br/>
<div class="mb-3">
    <a href="/addpackage" class="btn btn-primary shadow-none ms-3">
        Add Package
    </a>
</div>
<br />
<div class="mb-3">
    <a href="/addaddress" class="btn btn-primary shadow-none ms-3">
        Add Address
    </a>
</div>
<br/>
</center>
