@*@page "/viewpackages"

@inject IInventory Inventory

<h3>View Packages</h3>

<div class="row justify-content-center">
    <div class="col-6">
        <a href="addpackage" class="btn btn-primary shadow-none mb-3">
            Add Package
        </a>
        @if ()
    </div>
</div>

@code {

}*@
@page "/viewpackages"
@inject IInventory Repository
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Packages view</PageTitle>
<center>
    <h2> All packages </h2>
</center>

<div class="row justify-content-center border-primary">
    <h6>Search</h6>
    <input @oninput="SearchName" placeholder="Search for a name" class="p-2"/>
    <input @oninput="SearchDescription" placeholder="Search for a description" class="p-2"/>
    <input @oninput="SearchSeller" placeholder="Search for a seller" class="p-2" />
    <input @oninput="SearchLine1" placeholder="Search for an address" class="p-2" />    
</div>
    


<div class="row justify-content-center">
     <div class="col-6">

        @if (packages is null)
        {
            <div class="book-item">
                Loading packages... Please wait!
            </div>
        }
        else if (packages.Any())
        {
            @foreach (var pack in packages)
            {
                <div class="package-item">
                    <PackageCard Package1="pack"/>
                </div>
            }
        }
        else
        {
            <div class="book-item">
                No packages found!
            </div>
        }

        <a href="addpackage" class="btn btn-primary shadow-none mb-3">
            Add new package
        </a>
    </div>
</div>

